body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 100;
  font-size: 0.9rem;
  color: rgb(31, 31, 31);
  background-color: #fafafa;
  /* rgb(230, 235, 243); */
}

.home-wrap {
  position: relative;
  display: flex;
  left: 0;
  top: 0;
  height: 90vh;
  width: 100%;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loading {
  position: fixed;
  z-index: 100000;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.loading-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 14px;
  border: 3px solid #1b6ec2;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.input-not-spin::-webkit-outer-spin-button,
.input-not-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  margin: 0;
}

.bg-opacity-25 {
  background: rgba(255, 255, 255, 0.25) !important;
}

.placeholder-white::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  opacity: 1;
}

.placeholder-white:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

.placeholder-white::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

.placeholder-white:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 1;
}

.placeholder-white::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  opacity: 1;
}

.placeholder-white::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
  opacity: 1;
}